Import Dependencies

In [0]:

from sklearn import tree
import pandas as pd
import numpy as np

Read data as a data frame from the url in the github repository.

In [0]:
url = "https://raw.githubusercontent.com/prakashbalasubramaniam/Final_Project/master/ibm-watson-marketing-customer-value-data/WA_Fn-UseC_-Marketing-Customer-Value-Analysis%20-%20Copy.csv"
df = pd.read_csv(url)

View the first 5 rows of data

In [3]:
df.head()

  Customer       State  ...  Vehicle Class Vehicle Size
0  BU79786  Washington  ...   Two-Door Car      Medsize
1  QZ44356     Arizona  ...  Four-Door Car      Medsize
2  AI49188      Nevada  ...   Two-Door Car      Medsize
3  WW63253  California  ...            SUV      Medsize
4  HB64268  Washington  ...  Four-Door Car      Medsize

[5 rows x 24 columns]

Inspect data and data types

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
Customer                         9134 non-null object
State                            9134 non-null object
Customer Lifetime Value          9134 non-null float64
Response                         9134 non-null object
Coverage                         9134 non-null object
Education                        9134 non-null object
Effective To Date                9134 non-null object
EmploymentStatus                 9134 non-null object
Gender                           9134 non-null object
Income                           9134 non-null int64
Location Code                    9134 non-null object
Marital Status                   9134 non-null object
Monthly Premium Auto             9134 non-null int64
Months Since Last Claim          9134 non-null int64
Months Since Policy Inception    9134 non-null int64
Number of Open Complaints        9134 non-null int64
Number of Policies               9134 non-null int64
Policy Type                      9134 non-null object
Policy                           9134 non-null object
Renew Offer Type                 9134 non-null object
Sales Channel                    9134 non-null object
Total Claim Amount               9134 non-null float64
Vehicle Class                    9134 non-null object
Vehicle Size                     9134 non-null object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

List column names

In [5]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

Change "Response" column to reflect 0 for No and 1 for Yes

In [6]:
df.Response = df.Response.apply(lambda X : 0 if X == 'No' else 1)
df

     Customer       State  ...  Vehicle Class  Vehicle Size
0     BU79786  Washington  ...   Two-Door Car       Medsize
1     QZ44356     Arizona  ...  Four-Door Car       Medsize
2     AI49188      Nevada  ...   Two-Door Car       Medsize
3     WW63253  California  ...            SUV       Medsize
4     HB64268  Washington  ...  Four-Door Car       Medsize
...       ...         ...  ...            ...           ...
9129  LA72316  California  ...  Four-Door Car       Medsize
9130  PK87824  California  ...  Four-Door Car       Medsize
9131  TD14365  California  ...  Four-Door Car       Medsize
9132  UP19263  California  ...  Four-Door Car         Large
9133  Y167826  California  ...   Two-Door Car       Medsize

[9134 rows x 24 columns]

Define columns with continuous variables.

In [7]:
continous_var_df = df.select_dtypes(include=['int64','float'])
continous_var_df.nunique()

Customer Lifetime Value          8041
Response                            2
Income                           5694
Monthly Premium Auto              202
Months Since Last Claim            36
Months Since Policy Inception     100
Number of Open Complaints           6
Number of Policies                  9
Total Claim Amount               5106
dtype: int64

Define columns with categorical variables.

In [8]:
categorical_df = df.select_dtypes(include=['object'])
categorical_df.nunique()

Customer             9134
State                   5
Coverage                3
Education               5
Effective To Date      59
EmploymentStatus        5
Gender                  2
Location Code           3
Marital Status          3
Policy Type             3
Policy                  9
Renew Offer Type        4
Sales Channel           4
Vehicle Class           6
Vehicle Size            3
dtype: int64

Drop unnecessary columns. Customer column and Effective to Date is deemed not necessary.

In [9]:
cat_df = categorical_df.drop(['Customer','Effective To Date'], axis = 1)
cat_df.head()

        State  Coverage Education  ... Sales Channel  Vehicle Class Vehicle Size
0  Washington     Basic  Bachelor  ...         Agent   Two-Door Car      Medsize
1     Arizona  Extended  Bachelor  ...         Agent  Four-Door Car      Medsize
2      Nevada   Premium  Bachelor  ...         Agent   Two-Door Car      Medsize
3  California     Basic  Bachelor  ...   Call Center            SUV      Medsize
4  Washington     Basic  Bachelor  ...         Agent  Four-Door Car      Medsize

[5 rows x 13 columns]

Assign dummy variables to categorical variables

In [10]:
cat_columns = ["State",	"Coverage",	"Education",	"EmploymentStatus", "Gender",	"Location Code",	"Marital Status",	"Policy Type",	"Policy",	"Renew Offer Type",	"Sales Channel",	"Vehicle Class",	"Vehicle Size"]

df_dummies = pd.get_dummies(cat_df,columns=cat_columns)
df_dummies.head()

   State_Arizona  State_California  ...  Vehicle Size_Medsize  Vehicle Size_Small
0              0                 0  ...                     1                   0
1              1                 0  ...                     1                   0
2              0                 0  ...                     1                   0
3              0                 1  ...                     1                   0
4              0                 0  ...                     1                   0

[5 rows x 55 columns]

Concatenate new converted categorical columns with the continuous variable columns.

In [11]:
X_raw = pd.concat([continous_var_df,df_dummies], axis = 1)
X = X_raw.drop("Response",axis = 1)

feature_names = X.columns
X

      Customer Lifetime Value  Income  ...  Vehicle Size_Medsize  Vehicle Size_Small
0                 2763.519279   56274  ...                     1                   0
1                 6979.535903       0  ...                     1                   0
2                12887.431650   48767  ...                     1                   0
3                 7645.861827       0  ...                     1                   0
4                 2813.692575   43836  ...                     1                   0
...                       ...     ...  ...                   ...                 ...
9129             23405.987980   71941  ...                     1                   0
9130              3096.511217   21604  ...                     1                   0
9131              8163.890428       0  ...                     1                   0
9132              7524.442436   21941  ...                     0                   0
9133              2611.836866       0  ...                     1                   0

[9134 rows x 63 columns]

Assign y to "Response".

In [12]:
y = X_raw["Response"]
target_names = ["No","Yes"]
y

0       0
1       0
2       0
3       0
4       0
       ..
9129    0
9130    1
9131    0
9132    0
9133    0
Name: Response, Length: 9134, dtype: int64

Partition the data and stratify due even out distribution of train and test data.

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42,stratify=y,  test_size = 0.3)

Train the data using decision tree model. Get the score.

In [14]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9573148485954032

Use random forest model and get the score

In [15]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=500,random_state=42)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.996716526815031

Sort features by importance.

In [16]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.08444727946577174, 'Customer Lifetime Value'),
 (0.07721173440334102, 'Total Claim Amount'),
 (0.07417842508825702, 'Income'),
 (0.07386811905103724, 'Months Since Policy Inception'),
 (0.07069677825226788, 'Monthly Premium Auto'),
 (0.06477148087359592, 'Months Since Last Claim'),
 (0.05146418733887955, 'EmploymentStatus_Retired'),
 (0.03737303883153366, 'Number of Policies'),
 (0.028973748401977625, 'Renew Offer Type_Offer2'),
 (0.017861759128586657, 'Number of Open Complaints'),
 (0.0161672732823845, 'Sales Channel_Agent'),
 (0.015010602207822521, 'Marital Status_Divorced'),
 (0.013871750022332256, 'Marital Status_Married'),
 (0.013556814160620316, 'Renew Offer Type_Offer3'),
 (0.012848223474517934, 'Gender_F'),
 (0.0127606362958665, 'Education_College'),
 (0.012376475266235983, 'Renew Offer Type_Offer1'),
 (0.012281877026158993, 'Gender_M'),
 (0.012073212462651094, 'Renew Offer Type_Offer4'),
 (0.012059976178646535, 'Marital Status_Single'),
 (0.011726691612575104, 'Vehicle Size_Medsize'),
 (0.011636892999123882, 'Sales Channel_Branch'),
 (0.011453085694620163, 'Education_High School or Below'),
 (0.011392617072942025, 'Location Code_Suburban'),
 (0.01138543297300703, 'Education_Bachelor'),
 (0.011081556930747818, 'EmploymentStatus_Employed'),
 (0.011032651255097732, 'Vehicle Class_Four-Door Car'),
 (0.010939384769849847, 'Coverage_Basic'),
 (0.01056612382641702, 'Coverage_Extended'),
 (0.010020310531107725, 'Education_Master'),
 (0.009865640802014368, 'Vehicle Size_Small'),
 (0.009696675467598873, 'Vehicle Class_SUV'),
 (0.009695066118553034, 'Vehicle Class_Two-Door Car'),
 (0.009669139062968663, 'Vehicle Size_Large'),
 (0.009605050810375307, 'Sales Channel_Call Center'),
 (0.00891225438322988, 'Sales Channel_Web'),
 (0.008332833253712778, 'EmploymentStatus_Unemployed'),
 (0.006246670130637264, 'Coverage_Premium'),
 (0.0062420142377642065, 'State_California'),
 (0.006203922164484322, 'Location Code_Urban'),
 (0.006005786317417202, 'Education_Doctor'),
 (0.005978809420313941, 'Policy_Personal L3'),
 (0.005865048583572501, 'State_Oregon'),
 (0.005731970079709657, 'Vehicle Class_Sports Car'),
 (0.005463060041443761, 'Policy_Personal L2'),
 (0.005448483423255089, 'State_Arizona'),
 (0.005435415283226923, 'EmploymentStatus_Medical Leave'),
 (0.0049595169010734335, 'EmploymentStatus_Disabled'),
 (0.004864012793535929, 'Policy_Personal L1'),
 (0.004826949415350521, 'Location Code_Rural'),
 (0.004643059607394937, 'Policy Type_Personal Auto'),
 (0.004583664632939605, 'Policy Type_Corporate Auto'),
 (0.0041489412072852104, 'State_Washington'),
 (0.004115674652415354, 'State_Nevada'),
 (0.004090841038809656, 'Policy_Corporate L3'),
 (0.0033653584808573385, 'Policy_Corporate L2'),
 (0.0022620422694559395, 'Policy_Corporate L1'),
 (0.002212748089656037, 'Policy Type_Special Auto'),
 (0.001725398155191306, 'Policy_Special L3'),
 (0.0016306082498356717, 'Vehicle Class_Luxury SUV'),
 (0.0011517436615171228, 'Policy_Special L2'),
 (0.001037048622846022, 'Policy_Special L1'),
 (0.0008964137635850014, 'Vehicle Class_Luxury Car')]

Hypertune the model by using GridSearch and parameters.

In [0]:
from sklearn.model_selection import GridSearchCV
params = {'n_estimators': [1 ,3 ,6 ],'max_depth': [20, 25, 30],'criterion':['entropy','gini']}
grid = GridSearchCV(rf, params, verbose=2)

Train the data using the model, adjusting params and checking if score improves.

In [18]:
grid.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

Fitting 3 folds for each of 18 candidates, totalling 54 fits
[CV] criterion=entropy, max_depth=20, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=20, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=20, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=20, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=20, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=20, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=20, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=6, total=   0.1s
[CV] criterion=entropy, max_depth=20, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=6, total=   0.1s
[CV] criterion=entropy, max_depth=20, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=20, n_estimators=6, total=   0.0s
[CV] criterion=entropy, max_depth=25, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=25, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=25, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=25, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=25, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=25, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=25, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=6, total=   0.1s
[CV] criterion=entropy, max_depth=25, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=6, total=   0.1s
[CV] criterion=entropy, max_depth=25, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=25, n_estimators=6, total=   0.1s
[CV] criterion=entropy, max_depth=30, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=30, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=30, n_estimators=1 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=1, total=   0.0s
[CV] criterion=entropy, max_depth=30, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=30, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=30, n_estimators=3 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=3, total=   0.0s
[CV] criterion=entropy, max_depth=30, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=6, total=   0.1s
[CV] criterion=entropy, max_depth=30, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=6, total=   0.1s
[CV] criterion=entropy, max_depth=30, n_estimators=6 .................
[CV] .. criterion=entropy, max_depth=30, n_estimators=6, total=   0.1s
[CV] criterion=gini, max_depth=20, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=20, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=20, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=20, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=20, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=20, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=20, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=6, total=   0.0s
[CV] criterion=gini, max_depth=20, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=6, total=   0.0s
[CV] criterion=gini, max_depth=20, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=20, n_estimators=6, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=6, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=6, total=   0.0s
[CV] criterion=gini, max_depth=25, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=25, n_estimators=6, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=1 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=1, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=3 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=3, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=6, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=6, total=   0.0s
[CV] criterion=gini, max_depth=30, n_estimators=6 ....................
[CV] ..... criterion=gini, max_depth=30, n_estimators=6, total=   0.0s

[Parallel(n_jobs=1)]: Done  54 out of  54 | elapsed:    1.7s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=500, n_jobs=None,
                                              oob_score=False, random_state=42,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_depth': [20, 25, 30], 'n_estimators': [1, 3, 6]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

Print the best parameters and best score.

In [19]:
print(f"Best Parameters:{grid.best_params_}")
print(grid.best_score_)

Best Parameters:{'criterion': 'entropy', 'max_depth': 30, 'n_estimators': 6}
0.9538557797591115

Print the Training Data and Testing Data score.

In [20]:
print(f"Training Data Score: {grid.score(X_train, y_train)}")
print(f"Testing Data Score: {grid.score(X_test, y_test)}")

Training Data Score: 0.9987486313155013
Testing Data Score: 0.9770156877052171

Create predictions using the test set

In [21]:
predictions = grid.predict(X_test)
predictions

array([1, 0, 0, ..., 0, 0, 1])

Print the classification report

In [22]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                            target_names = ["No","Yes"]))

              precision    recall  f1-score   support

          No       0.98      1.00      0.99      2348
         Yes       0.97      0.87      0.92       393

    accuracy                           0.98      2741
   macro avg       0.97      0.93      0.95      2741
weighted avg       0.98      0.98      0.98      2741